<html>
    <head>
        <meta charset="utf-8">
        <title >Inicio</title>
        <link rel="stylesheet" type="text/css" href="/static/estilo.css">
        <script src="/static/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <script src="/static/js/jquery.flexslider.js"></script>
        <script src="/static/js//jquery.flexslider.js"></script>
        <script type="text/javascript" charset="utf-8">
             $(window).load(function() {
             $('.flexslider').flexslider({
                touch: true,
                pauseOnAction: false,
                pauseOnHover: false,
         });
         });
        </script>
    <body>
        <font face="Comic Sans MS" size="4">
        <center>
            <div id ="Contenedor">
                <div id="Portal" style="background-color: #E64F32">
                    <font face="Comic Sans MS" size="6"><h2>OPTIMIZACIÓN DE INVENTARIOS</h2></div></font>
                <div id="Menu">
                    <ul>
                    <li><a href="/" style="color: #E64F32">INICIO</a></li>
                    <li><a href="/form" style="color: #E64F32">FORMULARIO</a></li>
                    <li><a href="/nosotros" style="color: #E64F32">INTEGRANTES</a></li>
                    </ul>
                </div>
                <div id="Categoria">
                    <div id="uno">
                        <div class="e1">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li><img src="/static/img/1.jpg" alt=""><section class="flex_caption"></section></li>
                                    <li><img src="/static/img/2.jpg" alt="" ><section class="flex-caption"></section></li>
                                    <li><img src="/static/img/3.jpg" alt="" ><section class="flex-caption"></section></li>
                                    <li><img src="/static/img/4.jpg" alt=""><section class="flex-caption"></section></li>
                                    <li><img src="/static/img/5.jpg" alt=""><section class="flex-caption"></section></li>
                                    <li><img src="/static/img/6.jpg" alt=""><section class="flex-caption"></section></li>
                                    <li><img src="/static/img/7.jpg" alt=""><section class="flex-caption"></section></li>
                                    <li><img src="/static/img/8.jpg" alt=""><section class="flex-caption"></section></li>
                                    <li><img src="/static/img/9.jpg" alt=""><section class="flex-caption"></section></li>
                                    <li><img src="/static/img/10.jpg" alt=""><section class="flex-caption"></section></li>
                                    <li><img src="/static/img/11.jpg" alt=""><section class="flex-caption"></section></li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    <div id="dos">
                        <img src="/static/img/Escudo_UD.png" width="70%" height="35%" align="left" style="margin:50px;display: block;"><br>
                        <font face="Comic Sans MS" size="6" color="#E64F32" align="center"><b>Proyecto Final</b><br></font>
                        <font face="Comic Sans MS" size="5" color="#D29224" align="center"><b>Analisis de Datos - Grupo 301</b><br></font>
                        <font face="Comic Sans MS" size="5" color="#000000" align="center"><b>Docente Jorge Eduardo Hernandez Rodriguez</b><br></font>
                         <font face="Comic Sans MS" size="5" color="#525151" align="center"><b>2026 -1</b><br></font>
                    </div>
                </div>
            </div>
        </center>
        </font>
    </body>

</html>